# EMAIL_HOST = 'sandbox.smtp.mailtrap.io'
# EMAIL_HOST_USER = '0da49146873a4e'
# EMAIL_HOST_PASSWORD = '5f2d9a303b526b'
# EMAIL_PORT = '2525'

# Configuration for SMTP server for testing purposes only
EMAIL_HOST_PASSWORD =
EMAIL_HOST_USER =
EMAIL_HOST=localhost
EMAIL_PORT=25


#DATABSE CONFIGURATIONS
DB_NAME=
DB_USER_NAME=
BD_PASSWORD=
BD_HOST=