<!-- @format -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Manage Project</title>

  <link rel="stylesheet" href="{% static 'mbamain/styles/styles.css' %}">
  </head>
  <body >
<nav class="fixed top-0 z-50 w-full bg-white border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700">
  <div class="px-3 py-3 lg:px-5 lg:pl-3">
    <div class="flex items-center justify-between">
      <div class="flex items-center justify-center rtl:justify-center ">
        <button  type="button" class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
            <span class="sr-only">Open sidebar</span>
            <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
               <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
            </svg>
         </button>
             <a href="{%url 'mba_main:projects'%}" class="flex ms-2 md:me-24">
              <span class="ms-3">&LeftArrow; Back</span>
            </a>
      </div>
      <div class="flex items-center">
          <div class="flex items-center ms-3">
            <div>
              <button type="button" class="flex text-sm bg-gray-800 rounded-full focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600" aria-expanded="false" data-dropdown-toggle="dropdown-user">
                <span class="sr-only">Open user menu</span>
                <img class="w-8 h-8 rounded-full" src="{%static 'mbamain/img/bg_bus.jpg'%}" alt="user photo">
              </button>
            </div>
            <div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-sm shadow-sm dark:bg-gray-700 dark:divide-gray-600" id="dropdown-user">
              <div class="px-4 py-3" role="none">
                <p class="text-sm text-gray-900 dark:text-white" role="none">
                  Student  
                </p>
                <p class="text-sm font-medium text-gray-900 truncate dark:text-gray-300" role="none">
                  {{user.email}}
                </p>
              </div>
              <ul class="py-1" role="none">
                <li>
                  <a href="{% url 'mba_main:index' %}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white" role="menuitem">Projects</a>
                </li>
                <li>
                  <a  href="{% url 'mba_main:signout' %}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white" role="menuitem">Sign out</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
    </div>
  </div>
</nav>
{% if messages %}
{% for message in messages %}
   {% if message.tags == 'success' %}
    {% include 'mbaMain/components/toast_success.html' with message=message %}
    {% else %}
        {% include 'mbaMain/components/toast_error.html' with message=message %}
      {% endif %}
    {% endfor %}
{% endif %}


 <div class="p-4 mt-16 space-y-4 text-white bg-cover bg-center" style="background-image: url({% static 'mbamain/img/bg-2.jpg'%});">
    <h1 class="text-3xl">
        Project title : {{project.project_title}}
    </h1>
    <h1>
        by {{project.student.student_profile.title}} {{project.student.student_profile.name}} {{project.student.student_profile.surname}} ({{project.student.student_profile.student_no}})
    </h1>
   <p><span class="font-medium text-blue-600 dark:text-blue-400">SDG goal:</span> {{project.sdg_goal}}</p>
    <p class="text-sm">
       Project started on {{project.created_date|date:"d M Y H:i"}}
    </p>

    {%if project.get_supervisor %} 
     <div class="border-indigo-500 p-2">
         <h1 class="text-gray-400">Allocated Supervisor</h1>
       <h1>Names : {{project.get_supervisor.supervisor_profile.title}}  {{project.get_supervisor.supervisor_profile.name}}  {{project.get_supervisor.supervisor_profile.surname}}</h1>
       <h1>Email : {{project.get_supervisor.email}}</h1>
     </div>
    {%endif%}
  </div>
    
    

   {%if project.get_supervisor%}
      <div class=" p-4 flex gap-4 flex-wrap justify-center">
   
      <a href="{%url 'mba_main:student_supervisor_form' project_id=project.id %}" class="cursor-pointer p-4 w-full md:w-1/4 text-white h-40 flex items-center justify-center font-medium bg-orange-400">
        Student Supervisor Form
      </a>
    
      

        {%if project.sp_form.student_signed %}
        <a href="{%url 'mba_main:jbs5_form' project_id=project.id%}" class="cursor-pointer p-4 w-full md:w-1/4 text-white h-40 flex items-center justify-center font-medium bg-green-600">
           JBS5 Form 
        </a>
        
        {%else%}
        <a  
        
        class="cursor-pointer p-4 w-full md:w-1/4 text-white opacity-50

 h-40 flex items-center justify-center font-medium bg-green-600">
           JBS5 Form 
        </a>

        {%endif%}
         
        {%if project.title_approved and project.jbs5_form.student_signed%}
        
        <a href="{%url 'mba_main:notice_form' id=project.id%}" class="cursor-pointer p-4 w-full md:w-1/4 text-white h-40 flex items-center justify-center font-medium bg-gray-600">
           Notice To Submit Form 
        </a>
        {%else%}
        
        <a 
        
        class="cursor-pointer p-4 w-full md:w-1/4 text-white opacity-50

 h-40 flex items-center justify-center font-medium bg-gray-600">
           Notice To Submit Form
        </a>

        {%endif%}
         
        {%if project.title_approved and project.notice_form.student_signed%}
        
        <a href="{%url 'mba_main:jbs10_form' project_id=project.id%}" class="cursor-pointer p-4 w-full md:w-1/4 text-white h-40 flex items-center justify-center font-medium bg-blue-600">
          JBS10
        </a>
        {%else%}
        
        <a 
        
        class="cursor-pointer p-4 w-full md:w-1/4 text-white opacity-50

 h-40 flex items-center justify-center font-medium bg-gray-600">
           JBS10
        </a>

        {%endif%} 
    </div>
     
   {%else%}
      <div class="my-4">
        <p class="text-center text-red-500 font-bold">
          You have not been assigned a supervisor yet. Please contact the administration.
        </p>
      </div>
   {%endif%} 
    <script src="{%static 'mbamain/js/flowbite.min.js'%}"></script>
  </body>
