<!-- @format -->

<!-- Main modal -->
 <!-- The form ids matches the modal ids -->
<div id="{{modal_id}}" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative p-4 w-full max-w-md max-h-full bg-white">
      
         <form action="{%url 'mba_main:upload_cv'%}" method="post"  id="add-cv-form" enctype="multipart/form-data" class="space-y-8">
          {% csrf_token %}
            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="file_input">Choose file</label>
            <input  class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" id="cv" accept="application/pdf" name="cv" type="file">
        </form>
        <button 
           data-modal-target="add-cv-confirm"
          data-modal-toggle="add-cv-confirm"
         class="text-white mt-8 inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
          <svg class="me-1 -ms-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd"></path></svg>
            Upload cv
        </button>
    </div>
  </div>
</div>


